/* Reset Css */
:root{
    --text-color:#333;
    --white-color:#fff;
    --black-color:#000;
}
.body{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
*{
    box-sizing:inherit;
    margin:0;
}
html{
    font-size:15px;
    font-family: 'Roboto', sans-serif;
}




